NEXT_PUBLIC_API_BASE_URL=https://xzqwr7iz89.execute-api.ap-northeast-2.amazonaws.com
NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-2_zIW7nLU7s
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=4mhabc2bgejiderddbgoui3jn5
